<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

  First Name: <input type="text" th:field="*{firstName}" placeholder="First Name"/>
  <br/><br/>

  Last Name: <input type="text" th:field="*{lastName}" placeholder="Last Name"/>
  <br/><br/>

  Country: <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
          </select>
<br/><br/>

  Favourite Programming Language:
  <input type="radio" th:field="*{favouriteLanguage}" th:each="tempLanguage : ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}"/>

  <br/><br/>
  Favourite Operating System:
  <input type="checkbox" th:field="*{favouriteOS}" th:each="tempOS : ${operatingSystems}" th:value="${tempOS}" th:text="${tempOS}"/>

  <br/><br/>
  <input type="submit" value="Submit"/>



</form>
</body>
</html>